<div class="form-group">
    <div class="col-sm-12" style="margin-top:10px;">
        SALARY / PENSION
        <span> &nbsp;&nbsp; = </span>
        <span style="font-size:large;">{{incomeDetailsModel.salaryPensionSum | indianCurrency }}</span>
        <span style="font-size:large;">Net total income {{incomeDetailsModel.totalTaxableIncome | indianCurrency }}</span>
        <hr style="margin:2px 0 0 0;" />
    </div>
</div>

<div class="form-group margin-top15">
    <label class="control-label col-sm-2 text-left">Salary</label>
    <div class="col-sm-3">
        <input type="number" novalidate class="form-control" (ngModelChange)="calculateSalaryPensionSum()" [(ngModel)]="incomeDetailsModel.salary"
            #salary="ngModel" name="salary" />
        <div class="border-left-info">Excluding all allowances,perquisites and profit in liew of salary</div>
    </div>
    <label class="control-label col-sm-2 text-left">Allowance not exempt</label>
    <div class="col-sm-3">
        <input type="number" novalidate class="form-control" (ngModelChange)="calculateSalaryPensionSum()" [(ngModel)]="incomeDetailsModel.allowance"
            #allowance="ngModel" name="allowance" />
    </div>
</div>
<div class="form-group margin-top15">
    <label class="control-label col-sm-2 text-left">Value of perquisites</label>
    <div class="col-sm-3">
        <input type="number" novalidate class="form-control" (ngModelChange)="calculateSalaryPensionSum()" [(ngModel)]="incomeDetailsModel.perquisites"
            #perquisites="ngModel" name="perquisites" />
    </div>
    <label class="control-label col-sm-2 text-left">Profit in lieu of salary</label>
    <div class="col-sm-3">
        <input type="number" novalidate class="form-control" (ngModelChange)="calculateSalaryPensionSum()" [(ngModel)]="incomeDetailsModel.profitLieuOfSalary"
            #profitLieuOfSalary="ngModel" name="profitLieuOfSalary" />
    </div>
</div>
<div class="form-group margin-top15">
    <label class="control-label col-sm-2 text-left">Deduction u/s 16</label>
    <div class="col-sm-3">
        <input type="number" novalidate class="form-control" (ngModelChange)="calculateSalaryPensionSum()" [(ngModel)]="incomeDetailsModel.deductionUS16"
            #deductionUS16="ngModel" name="deductionUS16" />
    </div>
</div>

<div class="form-group">
    <div class="col-sm-12">
        HOUSE PROPERTY
        <span> &nbsp;&nbsp; = </span>
        <span style="font-size:large;">{{incomeDetailsModel.housePropertySum | indianCurrency }}</span>
        <hr style="margin:2px 0 0 0;" />
    </div>
</div>

<div class="form-group margin-top15">
    <label class="control-label col-sm-2 text-left">House property type</label>
    <div class="col-sm-3">
        <select id="selectedHousePropertyType" #housePropertyType="ngModel" required [ngClass]="(incomeDetailsModel.selectedHousePropertyType!='0' &&  incomeDetailsModel.selectedHousePropertyType!='')? 'valid': 'invalid'"
            class="form-control" [(ngModel)]="incomeDetailsModel.selectedHousePropertyType" name="housePropertyType" (ngModelChange)="disableEnableHouseProperty()">
            <option selected="selected" value="0">Select</option>
            <option [ngValue]="st.value" *ngFor="let st of _configuration.housePropertyType">
                {{st.text}}
        </select>
    </div>
    <label class="control-label col-sm-2 text-left">Gross rent received(A)</label>
    <div class="col-sm-3">
        <input type="number" novalidate class="form-control" [attr.disabled]="incomeDetailsModel.selectedHousePropertyType=='S' ? '' : null"
            [(ngModel)]="incomeDetailsModel.rent" #rent="ngModel" name="rent" (input)="calculateAnnualValue()" />
    </div>
</div>
<div class="form-group margin-top15">
    <label class="control-label col-sm-2 text-left">Tax paid to local authority(B)</label>
    <div class="col-sm-3">
        <input type="number" novalidate class="form-control" [attr.disabled]="incomeDetailsModel.selectedHousePropertyType=='S' ? '' : null"
            [(ngModel)]="incomeDetailsModel.taxPaidToLocalAuthority" #taxPaidToLocalAuthority="ngModel" name="taxPaidToLocalAuthority"
            (input)="calculateAnnualValue()" />
    </div>
    <label class="control-label col-sm-2 text-left">Annual value(C=A-B)</label>
    <div class="col-sm-3">
        <label class="control-label">{{incomeDetailsModel.annualValue | indianCurrency }}</label>
    </div>
</div>
<div class="form-group margin-top15">
    <label class="control-label col-sm-2 text-left">{{_configuration.annualValuePercentage}}% of annual value(D)</label>
    <div class="col-sm-3">
        <label class="control-label">{{incomeDetailsModel.annualValuePercentageAmount | indianCurrency }}</label>
    </div>
    <label class="control-label col-sm-2 text-left">Interest payable on borrowed capital(E)</label>
    <div class="col-sm-3">
        <input type="number" novalidate class="form-control" [(ngModel)]="incomeDetailsModel.interestOnBorrowedCapital" #interestOnBorrowedCapital="ngModel"
            name="interestOnBorrowedCapital" (input)="calculateIncomeChargeableUnderHouseProperty()" />
    </div>
</div>
<div class="form-group margin-top15">
    <label class="control-label col-sm-5" style="text-align: left;padding-left: 38px;">Income chargeable under the head 'House Property'(F=C-D-E)</label>
    <div class="col-sm-2">
        <label class="control-label">{{incomeDetailsModel.housePropertySum | indianCurrency }}</label>

    </div>
</div>
<div class="form-group margin-top15" style="margin-left:22px;">
    <div class="border-left-info col-sm-5">Note:Maximum loss from House property that can be set-off is {{_configuration.allowedHousePropertyLoss | indianCurrency}}</div>
</div>
<div class="form-group">
    <div class="col-sm-12">
        <hr style="margin:2px 0 0 0;" />
    </div>
</div>

<div class="form-group margin-top15">
    <label class="control-label col-sm-2 text-left">Income from other sources</label>
    <div class="col-sm-3">
        <input type="number" novalidate class="form-control" [(ngModel)]="incomeDetailsModel.incomeFromOtherSources" #incomeFromOtherSources="ngModel"
            name="incomeFromOtherSources"  (input)="onChangeGrossTotalIncome()" />
        <div class="border-left-info">Ensure to fill TDS2</div>
    </div>

    <label class="control-label col-sm-2 text-left">Gross total income</label>
    <div class="col-sm-3">
        <label class="control-label">{{incomeDetailsModel.grossTotalIncome | indianCurrency }}</label>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-12">
        DEDUCTIONS
        <span> &nbsp;&nbsp; = </span> 
        <span style="font-size:large;">{{incomeDetailsModel.totalDeductionSum | indianCurrency }}</span>
        <hr style="margin:2px 0 0 0;" />
    </div>
</div>
<div class="form-group margin-top15">
    <div class="col-sm-12">
        <deductions [grossTotalIncome]="incomeDetailsModel.grossTotalIncome" (onCalculateDeductionSum)="updateTotalDeductions($event)"></deductions>      
    </div>
</div>