<div class="panel-group margin-top15" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel-custom panel-default-custom">
        <div class="panel-heading-custom" role="tab" id="tds1Heading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#tds1Collapse" aria-expanded="true" aria-controls="taxDeductedCollapseOne">
                    <div style="font-size:15px;">Details of Tax deducted at source from
                        <span style="color:red">SALARY</span> (as per
                        <span style="color:red">FORM</span> 16 issued by employer(s))</div>
                </a>
            </h4>
        </div>
        <div id="tds1Collapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="tds1Heading">
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>TAN of deductor</th>
                            <th>Deductor name</th>
                            <th>Income chargeable under salaries</th>
                            <th>Total tax deducted</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let taxDeductedSalaryModel of taxDeductedSalaryModels; let i = index">
                            <td>
                                <input [(ngModel)]="taxDeductedSalaryModel.TAN" class="form-control" type="text" name="{{taxDeductedSalaryModel.TAN}}" />
                            </td>
                            <td>
                                <input [(ngModel)]="taxDeductedSalaryModel.name" class="form-control" type="text" name="{{taxDeductedSalaryModel.name}}"
                                />
                            </td>
                            <td>
                                <input [(ngModel)]="taxDeductedSalaryModel.incomeChargeableForDeduction" class="form-control" type="number" name="{{taxDeductedSalaryModel.incomeChargeableForDeduction}}"
                                />
                            </td>
                            <td>
                                <input [(ngModel)]="taxDeductedSalaryModel.taxDeducted" class="form-control" type="number" name="{{taxDeductedSalaryModel.taxDeducted}}" (change)="calculateTaxDeductedAmount()"
                                />
                            </td>
                            <td>
                                <span class="input-group-btn">
                                    <button class="btn btn-default removeIcon" type="button" (click)="deleteTaxDeductedSalaryItem(i)">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>                           
                            <td>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" (click)="addNewTaxDeductedSalary()">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel-custom panel-default-custom">
        <div class="panel-heading-custom" role="tab" id="tds2Heading" style="font-size:15px;">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse"  class="collapsed" data-parent="#accordion" href="#tds2Collapse" aria-expanded="false" aria-controls="tds2Collapse">
                    <div style="font-size:15px;">Details of tax deducted at source from income
                        <span style="color:red">OTHER THAN salary</span> (as per
                        <span style="color:red">FORM 16 A</span> issued by Deductor(s))</div>
                </a>
            </h4>
        </div>
        <div id="tds2Collapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="tds2Heading">
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>TAN of deductor</th>
                            <th>Deductor name</th>
                            <th>Amount for tax deduction</th>
                            <th style="width: 13%">Tax deduction year</th>
                            <th>Tax deducted</th>
                            <th>Amount claimed this year out of tax deducted</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let taxDeductedOtherThanSalaryModel of taxDeductedOtherThanSalaryModels; let i = index">
                            <td>
                                <input [(ngModel)]="taxDeductedOtherThanSalaryModel.TAN" class="form-control" type="text" name="{{taxDeductedOtherThanSalaryModel.TAN}}"
                                />
                            </td>
                            <td>
                                <input [(ngModel)]="taxDeductedOtherThanSalaryModel.name" class="form-control" type="text" name="{{taxDeductedOtherThanSalaryModel.name}}"
                                />
                            </td>
                            <td>
                                <input [(ngModel)]="taxDeductedOtherThanSalaryModel.amountForTaxDeduction" class="form-control" type="number" name="{{taxDeductedOtherThanSalaryModel.amountForTaxDeduction}}"
                                />
                            </td>
                            <td>
                                    <select id="selectedOtherThanSalaryYear" #selectedOtherThanSalaryYear="ngModel" required [ngClass]="taxDeductedOtherThanSalaryModel.selectedOtherThanSalaryYear>0? 'valid': 'invalid'" class="form-control"
                                            [(ngModel)]="taxDeductedOtherThanSalaryModel.selectedOtherThanSalaryYear" name="selectedOtherThanSalaryYear">
                                            <option selected="selected" value="0">Select</option>
                                            <option [ngValue]="year.key" *ngFor="let year of taxCollectionDeductionYearList">
                                                {{year.value}}
                                        </select>
                            </td>
                            <td>
                                <input [(ngModel)]="taxDeductedOtherThanSalaryModel.taxDeducted" class="form-control" type="number" name="{{taxDeductedOtherThanSalaryModel.taxDeducted}}"  (change)="calculateTaxDeductedAmount()"
                                />
                            </td>
                            <td>
                                <input [(ngModel)]="taxDeductedOtherThanSalaryModel.amountClaimedThisYear" class="form-control" type="number" name="{{taxDeductedOtherThanSalaryModel.amountClaimedThisYear}}"
                                />
                            </td>

                          
                            <td>
                                <span class="input-group-btn">
                                    <button class="btn btn-default removeIcon" type="button" (click)="deleteTaxDeductedOtherThanSalaryItem(i)">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            
                            <td>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" (click)="addNewTaxDeductedOtherThanSalary()">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel-custom panel-default-custom">
        <div class="panel-heading-custom" role="tab" id="tds3Heading" style="font-size:15px;">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" class="collapsed"  data-parent="#accordion" href="#tds3Collapse" aria-expanded="false" aria-controls="tds3Collapse">
                    <div style="font-size:15px;">Details of tax deducted at source (as per 
                        <span style="color:red">26QC</span> 
                        furnished by deductor(s))</div>
                </a>
            </h4>
        </div>
        <div id="tds3Collapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="tds3Heading">
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>PAN of Tenant</th>
                            <th>Tenant name</th>
                            <th>Amount for tax deduction</th>
                            <th style="width:12%">Tax deduction year</th>
                            <th>Tax deducted</th>
                            <th>Amount claimed this year out of tax deducted</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let taxDeductedUnder26QCModel of taxDeductedUnder26QCModels; let i = index">
                            <td>
                                <input [(ngModel)]="taxDeductedUnder26QCModel.PAN" class="form-control" type="text" name="{{taxDeductedUnder26QCModel.PAN}}"
                                />
                            </td>
                            <td>
                                <input [(ngModel)]="taxDeductedUnder26QCModel.name" class="form-control" type="text" name="{{taxDeductedUnder26QCModel.name}}"
                                />
                            </td>
                            <td>
                                <input [(ngModel)]="taxDeductedUnder26QCModel.amountForTaxDeduction" class="form-control" type="number" name="{{taxDeductedUnder26QCModel.amountForTaxDeduction}}"
                                />
                            </td>
                            <td>
                                    <select id="selectedTenantDeductionYear" #selectedTenantDeductionYear="ngModel" required [ngClass]="taxDeductedUnder26QCModel.selectedTenantDeductionYear>0? 'valid': 'invalid'" class="form-control"
                                            [(ngModel)]="taxDeductedUnder26QCModel.selectedTenantDeductionYear" name="selectedTenantDeductionYear">
                                            <option selected="selected" value="0">Select</option>
                                            <option [ngValue]="year.key" *ngFor="let year of taxDeductionTenantYearList">
                                                {{year.value}}
                                        </select>
                            </td>
                            <td>
                                <input [(ngModel)]="taxDeductedUnder26QCModel.taxDeducted" class="form-control" type="number" name="{{taxDeductedUnder26QCModel.taxDeducted}}" (change)="calculateTaxDeductedAmount()"
                                />
                            </td>
                            <td>
                                <input [(ngModel)]="taxDeductedUnder26QCModel.amountClaimedThisYear" class="form-control" type="number" name="{{taxDeductedUnder26QCModel.amountClaimedThisYear}}"
                                />
                            </td>

                          
                            <td>
                                <span class="input-group-btn">
                                    <button class="btn btn-default removeIcon" type="button" (click)="deleteTaxDeductedUnder26QCItem(i)">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            
                            <td>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" (click)="addNewTaxDeductedUnder26QC()">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel-custom panel-default-custom">
        <div class="panel-heading-custom" role="tab" id="tds4Heading" style="font-size:15px;">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#tds4Collapse" aria-expanded="true" aria-controls="collapseFour">
                    <div style="font-size:15px;">Details of advance tax and self assessment tax</div>
                </a>
            </h4>
        </div>
        <div id="tds4Collapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="tds4Heading">
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>BSR code</th>
                            <th>Date of deposit</th>
                            <th>Challan serial number</th>
                            <th>Tax paid</th>                            
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let advanceTaxSelfAssessmentTaxModel of advanceTaxSelfAssessmentTaxModels; let i = index">
                            <td>
                                <input [(ngModel)]="advanceTaxSelfAssessmentTaxModel.BSRCode" class="form-control" type="text" name="{{advanceTaxSelfAssessmentTaxModel.BSRCode}}"
                                />
                            </td>
                            <td>
                                <div class="input-group">
                                    <input class="form-control" required readonly [ngClass]="advanceTaxSelfAssessmentTaxModel.depositDate.length? 'valid': 'invalid'" style="float:none;border-radius: 0;"
                                        placeholder="Select a date" ngx-mydatepicker name="mydepositDatedate"  [options]="myOptions" #dd="ngx-mydatepicker"
                                        (dateChanged)="onDepositDateChanged($event)" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" style="padding: 6px 13px;" (click)="dd.clearDate()">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                        <button type="button" class="btn btn-default" style="padding: 6px 13px;border-radius: 0" (click)="dd.toggleCalendar()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <input [(ngModel)]="advanceTaxSelfAssessmentTaxModel.challanSerialNumber" class="form-control" type="number" name="{{advanceTaxSelfAssessmentTaxModel.challanSerialNumber}}"
                                />
                            </td>
                             
                            <td>
                                <input [(ngModel)]="advanceTaxSelfAssessmentTaxModel.taxPaid" class="form-control" type="number" name="{{advanceTaxSelfAssessmentTaxModel.taxPaid}}"
                                />
                            </td>
                             
                          
                            <td>
                                <span class="input-group-btn">
                                    <button class="btn btn-default removeIcon" type="button" (click)="deleteAdvanceTaxSelfAssessmentTaxItem(i)">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>                            
                            <td>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" (click)="addNewAdvanceTaxSelfAssessmentTax()">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel-custom panel-default-custom">
        <div class="panel-heading-custom" role="tab" id="tds5Heading" style="font-size:15px;">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" class="collapsed"  data-parent="#accordion" href="#tds5Collapse" aria-expanded="false" aria-controls="tds5Collapse">
                    <div style="font-size:15px;">Details of tax collected at source (<span style="color:red"> as per FORM 27D</span> issued by the collector(s))</div>
                </a>
            </h4>
        </div>
        <div id="tds5Collapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="tds5Heading">
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Collector's tax collection a/c number</th>
                            <th>Collector name</th>
                            <th>Amount subject to colleection</th>
                            <th style="width: 12%">Tax collection year</th>  
                            <th>Tax collected</th>                            
                            <th>Amount claimed this year out of tax collected</th>  
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let taxCollectedModel of taxCollectedModels; let i = index">
                            <td>
                                <input [(ngModel)]="taxCollectedModel.taxCollectionAccountNo" class="form-control" type="text" name="{{taxCollectedModel.taxCollectionAccountNo}}"
                                />
                            </td>
                            <td>
                                <input [(ngModel)]="taxCollectedModel.name" class="form-control" type="text" name="{{taxCollectedModel.name}}"
                                />
                            </td>
                            <td>
                                <input [(ngModel)]="taxCollectedModel.amountForTaxDeduction" class="form-control" type="number" name="{{taxCollectedModel.amountForTaxDeduction}}"
                                />
                            </td>
                            <td>
                                    <select id="selectedTaxCollectionYear" #selectedTaxCollectionYear="ngModel" required [ngClass]="taxCollectedModel.selectedTaxCollectionYear>0? 'valid': 'invalid'" class="form-control"
                                            [(ngModel)]="taxCollectedModel.selectedTaxCollectionYear" name="selectedTaxCollectionYear">
                                            <option selected="selected" value="0">Select</option>
                                            <option [ngValue]="year.key" *ngFor="let year of taxCollectionDeductionYearList">
                                                {{year.value}}
                                        </select>
                            </td>
                            <td>
                                <input [(ngModel)]="taxCollectedModel.taxCollected" class="form-control" type="number" name="{{taxCollectedModel.taxCollected}}"
                                />
                            </td>
                            <td>
                                <input [(ngModel)]="taxCollectedModel.amountClaimedThisYear" class="form-control" type="number" name="{{taxCollectedModel.amountClaimedThisYear}}"
                                />
                            </td>

                          
                            <td>
                                <span class="input-group-btn">
                                    <button class="btn btn-default removeIcon" type="button" (click)="deleteTaxCollectionItem(i)">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            
                            <td>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" (click)="addNewTaxCollection()">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>

<button (click)="onSubmit()">
    Submit data
</button>