<div class="form-group margin-top15">
    <div class="col-sm-11">
        <ng-select id="selectedSection" #selectedSection="ngModel" (change)="onDeductionChange()" name="selectedSection" placeholder="Select your investment for deduction"
            [(ngModel)]="selectedSectionValue">
            <ng-option *ngFor="let deduction of _configuration.deductionList" [value]="deduction.value">{{deduction.text}}
            </ng-option>
        </ng-select>
    </div>    
</div>
 
<form [formGroup]="sectionForm">
    <div formArrayName="itemRows">
        <!-- Check the correct way to iterate your form array -->
        <div *ngFor="let itemrow of sectionForm.controls.itemRows.controls; let i=index" [formGroupName]="i">

            <div class="form-group margin-top15">
                <label class="control-label col-sm-6" style="text-align:left">{{itemrow.get('deductionText').value}}</label>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input type="number" formControlName="deductionSection" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default removeIcon" type="button" (click)="deleteSection(i)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
        </div>
    </div>
</form>
<button (click)="onSubmit(sectionForm)">submit new </button>