<ng-select id="selectedSection"  #selectedSection="ngModel" name="selectedSection" 
placeholder="Select your investment for deduction" [(ngModel)]="selectedSectionValue" >
    <ng-option *ngFor="let deduction of _configuration.deductionList" [value]="deduction.value" >{{deduction.text}}
    </ng-option>            
</ng-select>
{{selectedSectionValue}}
<button  class="btn btn-default" (click)="onSectionChange()" >Add</button>                                                                                    

<div *ngFor="let section of sections; let i=index">
        <div class="form-group margin-top15">
                <label class="control-label col-sm-2"></label>
                <div class="col-sm-2">
                    <input type="number" novalidate [(ngModel)]="calcModel.OtherSourceIncome" value="0" min="0" #OtherSourceIncome="ngModel"
                        name="OtherSourceIncome" class="form-control" (input)="calculateGrossSalary()" />
                </div>
                <div class="col-sm-3">

                </div>
            </div>
        <label>{{i%2}}</label>
        <label class="control-label col-sm-2" *ngIf="i%2==0">true</label>
        <label class="control-label col-sm-2" *ngIf="i%2!=0">false

        </label>

</div>

 