<!-- Modal -->
<div class="modal fade" id="deductionModel" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="border-radius:0;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title" style="color:black;">Calculation Result</h5>
            </div>
            <div class="modal-body">
                <label class="control-label col-sm-1" style="padding-left: 0;padding-bottom: 4px;font-weight: bold;">Investment</label>
                <table class="table table-striped table-bordered fixHeaderTable">
                    <thead style="background-color:#f0f0f0;">
                        <tr>
                            <th style="width:33.1%" >Section</th>
                            <th style="width:32.1%">Entered Amount</th>
                            <th>Calculated Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usrTaxModel of incomeTaxModel.userTaxModel; let i = index">
                            <td>{{usrTaxModel.name}}</td>
                            <td>{{usrTaxModel.amount | indianCurrency}}</td>
                            <td>{{incomeTaxModel.systemTaxModel[i].amount | indianCurrency }}</td>
                        </tr>
                        <tr style="font-weight: bold;">
                            <td>Total</td>
                            <td>{{usrDeductionSum | indianCurrency }}</td>
                            <td>{{sysDeductionSum | indianCurrency }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <label class="control-label col-sm-3" style="padding-bottom: 4px;font-weight: bold;text-align: left;margin-top:-25px;">Tax calculation</label>
            <div style="position: relative;padding: 0 15px 15px 15px;">
                <table class="table table-striped table-bordered">
                    <thead style="background-color:#f0f0f0;">
                        <tr>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Income Tax</td>
                            <td>{{taxComputationModel.taxPayableOnTotalIncome | indianCurrency}}</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Education Cess</td>
                            <td>{{taxComputationModel.taxPayableOnTotalIncome | indianCurrency}}</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr style="font-style: italic;">
                            <td>Tax payable</td>
                            <td>&nbsp;</td>
                            <td>{{taxComputationModel.totalTaxAndCess | indianCurrency}}</td>
                        </tr>
                        <tr>
                            <td>Interest 234A</td>
                            <td>{{taxComputationModel.interest234A | indianCurrency}}</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Interest 234B</td>
                            <td>{{taxComputationModel.interest234B | indianCurrency}}</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Interest 234C</td>
                            <td>{{taxComputationModel.interest234C | indianCurrency}}</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Fee under 234F</td>
                            <td>{{taxComputationModel.feeUnder234F | indianCurrency}}</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr style="font-style: italic;">
                            <td>Interest payable</td>
                            <td>&nbsp;</td>
                            <td>{{taxComputationModel.totalInterestPayable | indianCurrency}}</td>
                        </tr>
                        <tr style="font-weight: bold;">
                            <td>Total tax payable</td>
                            <td>&nbsp;</td>
                            <td>{{taxComputationModel.totalTaxFeeInterest | indianCurrency}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="modal-footer" style="border-top:0;padding-top:0;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- End modal -->

<div class="form-group margin-top15">
    <label class="control-label col-sm-2 text-left">Relief u/s 89(1)</label>
    <div class="col-sm-3">

        <input type="number" novalidate class="form-control" [(ngModel)]="deductionModel.relief" #relief="ngModel" name="relief"
        />
        <div class="border-left-info">Please ensure to submit Form 10E</div>
    </div>
    <label class="control-label col-sm-2 text-left">Advance tax paid</label>
    <div class="col-sm-3">

        <input type="number" novalidate class="form-control" [(ngModel)]="deductionModel.advanceTax" #advanceTax="ngModel" name="advanceTax"
        />
        <div class="border-left-info">Check IT computation sheet received from employeer</div>
    </div>

</div>
<div class="form-group margin-top15">

    <label class="control-label col-sm-2 text-left">Due date of submission of return</label>
    <div class="col-sm-3">
        <div class="input-group">
            <input class="form-control" required readonly style="float:none;border-radius: 0;" placeholder="Select a date" ngx-mydatepicker
                name="dueDate" [(ngModel)]="deductionModel.dueDate" [options]="myOptions" #dueDateDp="ngx-mydatepicker" (dateChanged)="onDueDateChanged($event)"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" style="padding: 6px 13px;" (click)="dueDateDp.clearDate()">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
                <button type="button" class="btn btn-default" style="padding: 6px 13px;border-radius: 0" (click)="dueDateDp.toggleCalendar()">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>
    </div>

    <label class="control-label col-sm-2 text-left">Actual date of return submission</label>
    <div class="col-sm-3">
        <div class="input-group">
            <input class="form-control" required readonly style="float:none;border-radius: 0;" placeholder="Select a date" ngx-mydatepicker
                name="mydate" [(ngModel)]="deductionModel.filingDate" [options]="myOptions" #filingDateDp="ngx-mydatepicker"
                (dateChanged)="onFilingDateChanged($event)" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" style="padding: 6px 13px;" (click)="filingDateDp.clearDate()">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
                <button type="button" class="btn btn-default" style="padding: 6px 13px;border-radius: 0" (click)="filingDateDp.toggleCalendar()">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>
    </div>
</div>

<hr />
<div class="form-group margin-top15">
    <label class="control-label col-sm-2 text-left">Choose your investment</label>
    <div class="col-sm-8">
        <ng-select id="selectedSection" #selectedSection="ngModel" (change)="onDeductionChange()" name="selectedSection" placeholder="Select your investment for deduction"
            [(ngModel)]="selectedSectionValue">
            <ng-option *ngFor="let deduction of deductionList" [value]="deduction.name">{{deduction.text}}
            </ng-option>
        </ng-select>
        <div class="border-left-info">Select or search by typing your investment for deduction</div>
    </div>
</div>

<form [formGroup]="sectionForm">
    <div formArrayName="itemRows">
        <!-- Check the correct way to iterate your form array -->
        <div *ngFor="let itemrow of sectionForm.controls.itemRows.controls; let i=index" [formGroupName]="i">
            <div class="form-group margin-top15">
                <label class="control-label col-sm-2"></label>
                <label class="control-label col-sm-6" style="text-align:left">{{itemrow.get('deductionText').value}}</label>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input type="number" formControlName="deductionValue" (input)="onDeductionChangeCalculateSum(sectionForm)" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default removeIcon" type="button" (click)="deleteSection(i)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
        </div>
    </div>
    <button (click)="calculateTax(sectionForm)">submit new </button>
</form>

<div class="form-group margin-top15">
    <label class="control-label col-sm-2 text-left">&nbsp;</label>
    <div class="col-sm-3">
        <button type="button" class="btn btn-default" (click)="showCalculation()">Show Calculation</button>
    </div>
</div>
<div class="form-group margin-top15">
    <div class="col-sm-11">
        <label>Total income after deduction {{calculationResult.TaxableSalaryAfterDeduction}} </label>
        <br/>
        <label>Rebate {{calculationResult.Rebate}}</label>
        <br/>
        <label>Tax payable after rebate {{calculationResult.TaxAfterRebate}}</label>
        <br/>
        <label>Cess on taxable salary {{calculationResult.CessOnTotal}}</label>
        <br/>
        <label>total tax including cess {{calculationResult.TaxIncludingCess }}</label>
        <br/>
        <label>Relief u/s 89(1) {{calculationResult.ReliefAmount}}</label>
        <br/>
        <label>Balance Tax</label>
        <br/>
        <label>234A {{calculationResult.Interest234A}}</label>
        <br/>
        <label>Total interest payable(234A+234B+234C+Fee u/s 234F) {{calculationResult.TotalInterestPayable}}</label>
        <br/>
        <label>Total tax+Fee+interest {{calculationResult.TotalTaxPayable}}</label>
        <br/>
    </div>
</div>