<div class="form-group margin-top15">
    <label class="control-label col-sm-4 text-left">Total advance tax paid</label>
    <label class="control-label col-sm-2 text-left">{{taxPaidModel.totalAdvanceTaxPaid}}</label>
    <label class="control-label col-sm-4 text-left">Total TDS paid</label>
    <label class="control-label col-sm-2 text-left">{{taxPaidModel.totalTDSClaimed}}</label>
</div>
<div class="form-group margin-top15">
    <label class="control-label col-sm-4 text-left">Total TCS claimed</label>
    <label class="control-label col-sm-2 text-left">{{taxPaidModel.totalTCSClaimed}}</label>
    <label class="control-label col-sm-4 text-left">Total self assessment tax paid</label>
    <label class="control-label col-sm-2 text-left">{{taxPaidModel.totalSelfAssessmentTaxPaid}}</label>
</div>
<div class="form-group margin-top15">
    <label class="control-label col-sm-4 text-left">Total taxes paid</label>
    <label class="control-label col-sm-2 text-left">{{taxPaidModel.totalTaxesPaid}}</label>
    <label class="control-label col-sm-4 text-left">Amount payable (Tax calculated - deduction)</label>
    <label class="control-label col-sm-2 text-left">{{taxPaidModel.totalTaxesPaid}}</label>
</div>
<div class="form-group margin-top15">
    <label class="control-label col-sm-4 text-left">Refund(deduction - Tax calculated)</label>
    <label class="control-label col-sm-2 text-left">{{taxPaidModel.refund}}</label>
</div>

<div class="panel-group margin-top15" id="taxPaidVerificationAccordion" role="tablist" aria-multiselectable="true">
    <div class="panel-custom panel-default-custom">
        <div class="panel-heading-custom" role="tab" id="exemptIncomeHeading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#taxPaidVerificationAccordion" href="#exemptIncomeCollapse" aria-expanded="true"
                    aria-controls="collapseOne">
                    <div style="font-size:15px;">
                        Exempt income (for reporting purposes)
                    </div>
                </a>
            </h4>
        </div>
        <div id="exemptIncomeCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="exemptIncomeHeading">
            <div class="panel-body">
                <div class="form-group margin-top15">
                    <label class="control-label col-sm-2 text-left">Section 10(38) [Exempted long term capital gains]</label>
                    <div class="col-sm-3">
                        <input [(ngModel)]="taxPaidModel.exemptedLongTermCapitalGain" class="form-control" type="number" name="{{taxPaidModel.exemptedLongTermCapitalGain}}"
                        />
                    </div>
                    <label class="control-label col-sm-2 text-left">Section 10(34) [Exempted dividend income]</label>
                    <div class="col-sm-3">
                        <input [(ngModel)]="taxPaidModel.exemptedDividendIncome" class="form-control" type="number" name="{{taxPaidModel.exemptedDividendIncome}}"
                        />
                    </div>
                </div>
                <div class="form-group margin-top15">
                    <label class="control-label col-sm-2 text-left">Agriculture income</label>
                    <div class="col-sm-3">
                        <input [(ngModel)]="taxPaidModel.agricultureIncome" class="form-control" type="number" name="{{taxPaidModel.agricultureIncome}}"
                        />
                    </div>
                </div>                
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nature of income</th>
                            <th>Description if 'Any other' selected</th>
                            <th>Amount</th>                            
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let OtherExemptionModel of OtherExemptionModels; let i = index">
                            <td>
                                    <select id="selectedIncomeNature" #selectedIncomeNature="ngModel" class="form-control"
                                            [(ngModel)]="OtherExemptionModel.selectedIncomeNature" name="selectedIncomeNature">
                                            <option selected="selected" value="0">Select</option>
                                            <option [ngValue]="nature.value" *ngFor="let nature of incomeNatureList">
                                                {{nature.text}}
                                        </select>
                            </td>
                            <td>
                                <input [(ngModel)]="OtherExemptionModel.descriptionIfAnyOtherSelected" class="form-control" type="text" name="{{OtherExemptionModel.descriptionIfAnyOtherSelected}}"
                                />
                            </td>
                            <td>
                                <input [(ngModel)]="OtherExemptionModel.amount" class="form-control" type="number" name="{{OtherExemptionModel.amount}}"
                                />
                            </td>
                            
                            <td>
                                <span class="input-group-btn">
                                    <button class="btn btn-default removeIcon" type="button" (click)="deleteOtherExemptionItem(i)">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" (click)="addNewOtherExemption()">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<button (click)="onSubmit()">
    Submit data
</button>