<form #calcFrm="ngForm">
    <div class="container margin-top15 margin-top65 margin-bottom70"> 
        <!-- Modal -->
        <div class="modal fade" id="form26ASModel" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content" style="border-radius:0;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title" style="color:black;">Upload Form 26AS text file</h5>
                    </div>
                    <div class="modal-body">
                        <label class="col-sm-6 text-left">Upload text file to auto fill below details</label>
                        <div class="col-sm-3">
                            <input name="file" type="file" (change)="onFileSelection($event)" />
                        </div>

                    </div>
                    <div class="modal-footer" style="border-top:0;padding-top:20px;">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="panel panel-default border-radius border-box">
                <div class="panel-heading">Generate e-filing Tax XML</div>
                <div class="form-horizontal">
                    <div style="color:red;padding:0 5px 0 5px;">
                        For individuals being a resident other than not ordinarily resident having income from salaries, one house property, other
                        sources(interest etc.) and having total income upto Rs. 50 lakhs.
                    </div>
                    <div style="padding:5px 5px 2px 5px">
                        <a data-toggle="tab" href="#personInfo" data-toggle="modal" data-target="#form26ASModel">Click here to upload text formatted Form 26AS to pre-fill information </a>
                    </div>
                    <ul class="nav nav-tabs" style="margin-top:5px;padding-left:1px;">
                        <li class="active">
                            <a data-toggle="tab" href="#personInfo">Personal Information</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#incomeDetails">Income details</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#taxDetails">Tax details</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#taxPaidVerification">Tax paid and verification </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#gDetails">80G details</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="personInfo" class="tab-pane fade in active" style="padding: 0 5px 0 5px">
                            <personal-info [personalInfoData]="personalInfoData"></personal-info>
                        </div>
                        <div id="incomeDetails" class="tab-pane fade" style="padding: 0 5px 0 5px">
                            <income-details></income-details>
                        </div>
                        <div id="taxDetails" class="tab-pane fade" style="padding: 0 5px 0 5px">
                            <tax-deducted [taxDeducted]="taxDeducted"></tax-deducted>
                        </div>
                        <div id="taxPaidVerification" class="tab-pane fade " style="padding: 0 5px 0 5px">
                            <tax-paid-verification></tax-paid-verification>
                        </div>
                        <div id="gDetails" class="tab-pane fade " style="padding: 0 5px 0 5px">
                            <donation-80G></donation-80G>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>