<div class="container margin-top15 margin-top65 margin-bottom70">
        <div class="row">
            <h4>Privacy Policy</h4>
             <p>
                 We are not saving or restoring any user information. Information provided will be used only for tax calcuation purpose. No user 
                 information will be shared.
            </p>
            <p>
                 This application is developed to help users to calculate tax they are liable to pay after 
                 investment declaration. User can play around with number that will help to understand his/her investment properly. 
                 This application does not advise user to declare/invest under any section.
             </p>                 
        </div>
    </div>