<form #calculatorFrm="ngForm">
    <div class="container margin-top15 margin-top65 margin-bottom70">
        <div class="row">
            <div class="panel panel-default border-radius border-box">
                    <div class="panel-heading">Calculator </div>
                <div class="form-horizontal">
                    <div id="incomeDetails" style="padding: 0 5px 0 5px">
                        <income-details></income-details>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</form>