<form #calcFrm="ngForm" (ngSubmit)="calculateTax(calcFrm.value,calcFrm.valid)">
    <div class="container margin-top15 margin-top65">
        <div class="row">
            <div class="panel panel-default border-radius border-box">
                <div class="panel-heading">Income Tax Calculator</div>
                <div class="form-horizontal">
                    <!-- <div class="form-group margin-top15">
                        <div class="col-sm-10">
                            <label class="invalid" style="margin-left:10px;padding-left:10px;"> All fields are mandatory</label>
                        </div>
                    </div> -->
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#Step1">Salary details</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#Step2">Deductions & Calculation</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="Step1" class="tab-pane fade in active">
                            <div class="form-group margin-top15">
                                <label class="control-label col-sm-2">Assessment year</label>
                                <div class="col-sm-3">
                                    <select id="assessmentYearId" #assessmentYearId="ngModel" class="form-control" [(ngModel)]="calcModel.assessmentYearId" name="assessmentYearId">
                                        <option selected="true" value="0">Select</option>
                                        <option [ngValue]="ast.Key" *ngFor="let ast of calcModel.AssessmentYearsModels">
                                            {{ast.Value}}
                                    </select>
                                </div>
                                <div class="col-sm-2"></div>
                            </div>

                            <div class="form-group margin-top15">
                                <label class="control-label col-sm-2">Who you are</label>
                                <div class="col-sm-3">
                                    <select id="Category" #Category="ngModel" class="form-control" [(ngModel)]="calcModel.Category" name="Category" (change)="onCategoryChange($event.target.value,assessmentYearId.value)">
                                        <option selected="true" value="0">Select</option>
                                        <option [ngValue]="ct.CategoryId" *ngFor="let ct of CategoryList">
                                            {{ct.CategoryName}}
                                    </select>
                                </div>
                                <div class="col-sm-2"></div>
                            </div>
                            <div class="form-group margin-top15">
                                <label class="control-label col-sm-2">Income from salary</label>
                                <div class="col-sm-2">
                                    <input type="number" required novalidate [ngClass]="SalaryIncome.valid? 'valid': 'invalid'" [(ngModel)]="calcModel.SalaryIncome"
                                        value="0" min="0" #SalaryIncome="ngModel" name="SalaryIncome" class="form-control" (input)="calculateGrossSalary()"
                                    />
                                </div>
                                <!-- <div *ngIf="GrossTaxableSalary.invalid && (GrossTaxableSalary.dirty || GrossTaxableSalary.touched)" class="errorColor">
                            <div *ngIf="GrossTaxableSalary.errors.required">service number? its required</div>
                        </div> -->
                                <div class="col-sm-2"></div>
                            </div>
                            <div class="form-group margin-top15">
                                <label class="control-label col-sm-2">Income from other sources</label>
                                <div class="col-sm-2">
                                    <input type="number" novalidate [(ngModel)]="calcModel.OtherSourceIncome" value="0" min="0" #OtherSourceIncome="ngModel"
                                        name="OtherSourceIncome" class="form-control" (input)="calculateGrossSalary()" />
                                </div>
                                <div class="col-sm-3">

                                </div>
                            </div>
                            <div class="form-group margin-top15">
                                <label class="control-label col-sm-2">Gross taxable salary</label>
                                <div class="col-sm-2">
                                    <label class="control-label">{{calcModel.GrossTaxableSalary | number}}</label>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>
                        </div>
                        <!-- Step 2 divs -->
                        <div id="Step2" class="tab-pane fade">
                            <div class="form-group margin-top15" *ngFor="let section of  calcModel.Sections;">
                                <label class="control-label col-sm-2">Section {{section.ReadOnlyName}} </label>
                                <div class="col-sm-2">
                                    <input type="number" novalidate [(ngModel)]="section.Name" class="form-control" name="Section{{section.ReadOnlyName}}" min="1"
                                        max="{{section.Amount}}" />
                                </div>
                                <div class="col-sm-8">
                                    <!-- [
                                    <i>{{section.Description}}
                                        <span *ngFor="let option of section.SectionOptions" style="color:#d1c7c7;">{{option.Name}} &nbsp;</span>
                                        ,Limit - {{section.Amount >1000000 ?  'No limit' : (section.Amount==0) ? calcModel.SelectedMediClaimValue : (section.Amount>0) ? section.Amount :0
                                      }}]</i> -->
                                    [
                                    <i>{{section.Description}}
                                        <span>{{section.SectionOptionsString}} </span>
                                        ,Limit - {{section.Amount >1000000 ? 'No limit' : (section.Amount==0) ? calcModel.SelectedMediClaimValue : (section.Amount>0)
                                        ? section.Amount :0 }}]
                                    </i>
                                    <div *ngIf="section.Mediclaim!=null">
                                        <input class="radio-inline" type="radio" id="rdoSelfWithFamily" [checked]="true" name="mediclaimType" (click)="onMediClaimChange('SelfWithFamily',section.Mediclaim.SelfWithFamily)"> Self including family &nbsp;
                                        <input class="radio-inline" type="radio" name="mediclaimType" (click)="onMediClaimChange('SelfWithFamilyParents',section.Mediclaim.SelfWithFamilyParents)"> Self including family and parents
                                        <br />
                                        <input class="radio-inline" type="radio" name="mediclaimType" (click)="onMediClaimChange('SelfWithFamilySeniorCitizenParents',section.Mediclaim.SelfWithFamilySeniorCitizenParents)"> Self including family and senior citizen parents &nbsp;
                                        <input class="radio-inline" type="radio" name="mediclaimType" (click)="onMediClaimChange('SelfWithFamilySuperSeniorCitizenParents',section.Mediclaim.SelfWithFamilySuperSeniorCitizenParents)"> Self including family and super senior citizen parents
                                    </div>


                                </div>
                            </div>

                            <div class="form-group margin-top15">
                                <label class="control-label col-sm-2">Other deductions</label>
                                <div class="col-sm-2">
                                    <input type="number" novalidate [(ngModel)]=OtherDeductions class="form-control" name="OtherDeductions" min="1" maxlength="8"
                                        ng-value="1" />
                                </div>
                                <div class="col-sm-8">
                                    [
                                    <i>Other valid deductions amount not covered in any of above sections</i>]
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group margin-top15">
                        <label class="control-label col-sm-2"></label>
                        <div class="col-sm-6">
                            <button class="btn btn-default" [disabled]='!calcFrm.valid'>Calculate Tax</button>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>

                    <div *ngIf="calcModel.CalculationResult?.IntermediateOutputs!== null">
                        <hr />
                        <div class="form-group margin-top15" *ngIf="calcModel.CalculationResult?.IntermediateOutputs!== null" style="font-size:16px;">
                            <label class="control-label col-sm-2">Tax calculation</label>
                            <div class="col-sm-6">
                                <table class="table" style="font-size: 15px; border: 1px solid #ddd">
                                    <thead>
                                        <tr>
                                            <th>Description</th>
                                            <th>Tax Rate</th>
                                            <th>Tax</th>
                                            <th>Cess Rate</th>
                                            <th>Cess Tax</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let output of calcModel.CalculationResult?.IntermediateOutputs">
                                            <td>{{output.IncomeSlab}}</td>
                                            <td>{{output.TaxRate}}</td>
                                            <td>{{output.Tax | number}}</td>
                                            <td>{{output.CessRate}}</td>
                                            <td>{{output.CessTax | number}}</td>
                                            <td>{{output.TotalTax | number}}</td>
                                        </tr>
                                        <tr style="font-weight: bold;color: #989393">
                                            <td>Total tax to pay</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>{{calcModel.CalculationResult?.TotalTax | number}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>