<div class="container margin-top15 margin-top65 margin-bottom70 text-center">
    <div class="row">
        <div class="col-sm-2">&nbsp;</div>
        <div class="col-sm-7">
            <h3><span style="color:#FF9933">Know</span><span style="color:#2a2ab9">Your</span><span style="color:#138808">Tax</span></h3>
            <p>
                KnowYourTax application started in <i>2018.</i>Application help users to calculate their tax.
            </p>
            <p>&nbsp;</p>           
            <h3>Ravindra Parcha</h3>
            <p>
                    Works full time at <a href="https://www.citiustech.com" target="_blank">citiustech</a> as Technical Lead and part-time develops software as a hobby.<br/>                    
                    Check out <a href="https://in.linkedin.com/in/ravindraparcha" target="_blank">linkedin profile</a> <br/>
                    He is passionate about bike riding. He loves to explore places. Visit riding blog <a href="https://blog.trippers-riding-club.in/" target="_blank">Trippers riding club</a> 
            </p>
        </div>
    </div>
</div>