<div class="container margin-top15 margin-top65 margin-bottom70">
    <div class="row">
         <h4>Privacy Policy</h4>
            <p>
                'KnowYourTax' application is designed to calculate the tax as per information provided. User can enter different amount to
                know the tax he has to pay. Neither application store any user information provided nor information is shared
                with any external sources. Information provided will be used only for tax calculation purpose.  
            </p>
            <p>
                This application will help you to understand your investment as per assessment year budget declaration. This application
                does not advise user to declare/invest under any section.
            </p>
         
    </div>
</div>